{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-2022-jp">
<title>本会員登録が完了いたしました。</title>
<meta name="keywords" content="">
<meta name="description" content="">
<style type="text/css" media="screen">
body, div, table, td, th, h1, h2, p {
	padding: 0;
	margin: 0;
	color: #595757;
	font-size: 17px;
	font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
}
body{
width:700px;
}

a {
	color: #333333;
}
a:hover {
	text-decoration: none;
}
</style>
</head>

<body bgcolor="#ffffff" text="#333333" style="font-size: 12px; font-family: 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;">
<div style="width:700px;text-align:center;">
<table style="width:700px;text-align:center;">
<tr>
<td style="background-color:#323232;text-align:center;">
	<a href="http://kobohinahina.com/" target="_blank"><img src="http://kobohinahina.com/html_image/html_logo.png"></a>
</td>
</tr>
<tr>
<td style="text-align:center;font-size:30px;padding:60px 0 70px;">
	{{ Customer.name01 }} {{ Customer.name02 }} 様
</td>
</tr>
<tr>
<td style="    padding-bottom: 40px;text-align:center;">
<img src="http://kobohinahina.com/html_image/html_reg.jpg">
</td>
</tr>

<tr>
<td style="text-align:center; padding-bottom: 20px;">
{{ BaseInfo.shop_name }}でございます。
</td>
</tr>
<tr>
<td style="text-align:center;padding:50px 0 20px;line-height: 38px;">
この度は当社会員登録を実施いただきまして誠に有り難うございます。
</td>
</tr>
<tr>
<td style="text-align:center;padding:50px 0 20px;line-height: 38px;">
会員登録が完了致しました。<br>
ショッピングをお楽しみくださいませ。<br>
会員様のログインに必要な入力いただいたメールアドレスとパスワードは、<br>
お忘れにならないよう、保管をお願い致します。
</td>
</tr>
<tr>
<td style="text-align:center;padding:50px 0 20px;line-height: 38px;">
今後とも工房ひな雛をどうぞよろしくお願い申し上げます。
</td>
</tr>

</table>

<table style="width:560px;text-align:center;margin:auto;">
<tr>
<td style="font-size:15px;text-align:center;padding:120px 0 50px;">
	<a href="http://kobohinahina.com/" target="_blank"><img src="http://kobohinahina.com/html_image/html_logo2.png"></a>
</td>
</tr>
</table>

<table style="width:700px;text-align:center;padding-bottom:80px;">
<tr>
<td>
	<a href="https://instagram.com/kobo_hinahina/" target="_blank"><img style="margin-right:80px;" src="http://kobohinahina.com/html_image/html_insta.png"></a>
	<a href="http://blog.kobohinahina.com/" target="_blank"><img src="http://kobohinahina.com/html_image/html_blog.png"></a>
</td>
</tr>
<tr>
<td style="text-align:center;padding:50px 0 70px;line-height: 38px;">
※本メールは会員登録を実施頂いたお客様へお送りする自動送信メールです。
</td>
</tr>

</table>

<table style="width:700px;text-align:center;background-color:#cdcdcd;">
<tr>
<td style="text-align:left;padding:65px 130px;line-height: 38px;">
会社名 : 有限会社人形の秀隆<br>
住所 : 〒337-0015 埼玉県さいたま市見沼区蓮沼491-1<br>
営業時間 : 10:00～18:00<br>
TEL : 048-680-5631<br>
フリーダイアル：0120-346-785<br>
FAX : 048-680-5632<br>
email : info@kobohinahina.com
</td>
</tr>
</table>
</div>

</body>
</html>