{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<footer class="c-footer">
    <div class="c-footer1"></div>
    <div class="c-footer2">
        <div class="ft-container">
            <div class="btn-pagetop">
                <a href="#">
                    <img src="/assets/image/common/page_top.png" alt="">
                </a>
            </div>

            <div class="ft-content">
                <table class="ft-content__info">
                    <tr>
                        <th>会社名</th>
                        <td>有限会社人形の秀隆</td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td>〒337-0015　埼玉県さいたま市見沼区蓮沼491-1</td>
                    </tr>
                    <tr>
                        <th>営業時間</th>
                        <td>10:00～18:00</td>
                    </tr>
                    <tr>
                        <th>TEL</th>
                        <td><a class="tel_phone tel" href="tel:0486805631">048-680-5631</a>
                            <br class="sp-only">フリーダイアル：<a href="tel:0120346785" class="tel tel_phone">0120-346-785</a></td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>048-680-5632</td>
                    </tr>
                    <tr>
                        <th>EMAIL</th>
                        <td><a class="mail_to" href="mailto:info@kobohinahina.com">info@kobohinahina.com</a></td>
                    </tr>
                </table>
                <div class="ft-content__about">

                    <h2 class="ft-about__title">
                        <img class="pc-only" src="/assets/image/common/ft-logo__01.png" alt="ひな人形専門店　工房ひな雛">
                        <img class="sp-only" src="/assets/image/common/sp/ft-logo__01--sp.png" alt="ひな人形専門店　工房ひな雛">
                    </h2>
                    <p class="ft-about__text">ご注文は24時間受け付けております。土日祝日はお休みですがシーズン中は無休で営業いたしておりますのでご安心くださいませ。<br>上記営業時間外にいただきましたメールのご返信は、翌営業日以降となりますのでご了承下さい。
                    </p>
                </div>
            </div>

            <div class="ft-banner">
                <a href="https://gogatsu.kobohinahina.com/" target="_blank">
                    <div class="ft-banner__container">
                        <div class="ft-banner__img">
                            <img class="pc-only" src="/assets/image/common/ft_banner.jpg" alt="五月人形と鎧飾り・兜飾りの真（まことの">
                            <img class="sp-only" src="/assets/image/common/sp/ft_banner--sp.jpg" alt="五月人形と鎧飾り・兜飾りの真（まこと">
                        </div>
                        <div class="ft-banner__ulity">
                            <img class="ft-banner__logo pc-only" src="/assets/image/common/ft-logo__02.png" alt="真">
                            <img class="ft-banner__logo sp-only" src="/assets/image/common/sp/ft-logo__02--sp.png" alt="真">
                            <div class="ft-banner__ct">
                                <h2 class="ft-banner__title">
                                    <span class="ft-banner__subtitle">五月人形と鎧飾り・兜飾りの</span>真（まこと）
                                </h2>
                            </div>
                            <div class="ft-banner__productby">
                                <img class="pc-only" src="/assets/image/common/ft-logo__03.png" alt="ひな人形専門店　工房ひな雛">
                                <img class="sp-only" src="/assets/image/common/sp/ft-logo__03--sp.png" alt="ひな人形専門店　工房ひな雛">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <ul class="ft-link">
                <li class="ft-link__item ft-link__item01">
                    <p class="ft-link__text ft-link__margin"><a href="/order/">特製商取引法に基づく表示</a></p>
                    <p class="ft-link__text"><a href="/privacy/">個人情報保護方針</a></p>
                </li>
                <li class="ft-link__item ft-link__item02">
                    <p class="ft-link__text ft-link__margin01"><a href="/guide_buy/">ご利用ガイド</a></p>
                    <dl class="ft-payment">
                        <dt class="ft-payment__icon"><img src="/assets/image/common/ft-icon__01.jpg" alt="ご利用ガイド Visa"></dt>
                        <dt class="ft-payment__icon"><img src="/assets/image/common/ft-icon__02.jpg" alt="ご利用ガイド Mastercard"></dt>
                        <dt class="ft-payment__icon"><img src="/assets/image/common/ft-icon__03.jpg" alt="ご利用ガイド Diners Club"></dt>
                        <dt class="ft-payment__icon"><img src="/assets/image/common/ft-icon__04.jpg" alt="ご利用ガイド American Express"></dt>
                        <dt class="ft-payment__icon"><img src="/assets/image/common/ft-icon__05.jpg" alt="ご利用ガイド JCB"></dt>
                    </dl>
                </li>
            </ul>
            <div class="ft-copyright">
                <p class="ft-copyright__text">Copyright © SYURYU, Co., Ltd. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>